.player-info {
  height: 128px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  list-style-type: none;
  border-radius: 10px;
  background-color: var(--secondary-color);
  margin: 20px 0;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  :global { animation-name: fadeIn; }
}

.player-name {
  background: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  line-height: 3rem;
}

.edit-icon,
.delete-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.player-actions {
  display: flex;
  align-items: center;

  > *:not(:last-child) {
    margin-right: 10px;
  }
}

.edit-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.cancel-icon,
.confirm-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.edit-input-wrapper {
  margin-right: 40px;
  width: 100%;
  max-width: 600px;
}

.edit-input {
  width: 100%;
  // background: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2));
  // background-clip: text;
  // -webkit-text-fill-color: transparent;
  background: transparent;
  color: var(--tertiary-color);
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  caret-color: var(--tertiary-color);
  position: relative;
  border-bottom: 1px solid var(--tertiary-color);
  height: 3rem;

  &:focus-visible {
    outline: 0;
    border-bottom: 2px solid var(--tertiary-color);
  }
}
