.main {
  background: var(--secondary-darker-color);
  min-height: 100vh;
  padding: 80px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color-2);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    :global { animation-name: fadeIn; }
  }
}

.title {
  background: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  animation-duration: 0.5s;
  :global { animation-name: fadeInDown; }
}

.add-icon {
  width: 5rem;
  height: 5rem;
  animation-duration: 0.5s;
  :global { animation-name: fadeInDown; };
}

.list-spinner,
.list-error {
  margin: 100px auto 0;
}

.list-error {
  text-align: center;
  font-size: 30px;
  color: var(--error-color);
}
