.main {
  background: var(--secondary-darker-color);
  min-height: 100vh;
  padding: 5rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color-2);
    :global { animation: fadeIn 0.5s forwards; }
  }
}

.title {
  font-size: 5rem;
  text-transform: uppercase;
  :global { animation: fadeInDown 0.5s; }
}

.add-icon {
  width: 5rem;
  height: 5rem;
  :global { animation: fadeInDown 0.5s; };
}

.list-spinner,
.list-error {
  margin: 6rem auto 0;
}

.list-error {
  text-align: center;
  font-size: 2rem;
  color: var(--error-color);
}

@media screen and (max-width: 500px) {
  .main {
    padding: 2rem 2rem 5rem;
  }

  .section-header {
    justify-content: center;
  }

  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
}
