@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

button,
input {
  border: 0;
}

:root {
  --primary-color-1: #FC00FF;
  --primary-color-2: #00DBDE;
  --secondary-color: #262626;
  --secondary-darker-color: #202020;
  --tertiary-color: #FAFAFA;
}

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all ease 0.5s;

  &:hover {
    scale: 1.1;
  }
  
  &:active {
    filter: brightness(0.85);
  }

  .icon-1 {
    fill: var(--primary-color-1);
  }

  .icon-2 {
    fill: var(--primary-color-2);
  }
}

.text-button {
  line-height: 3em;
  border-radius: 5px;
  background-image: linear-gradient(100deg, var(--primary-color-2), var(--primary-color-1));
  background-origin: border-box;
  box-shadow: 0 0 100px 1.5rem var(--secondary-color) inset;
  border: solid 3px transparent;
  color: var(--tertiary-color);
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s ease;

  &:hover {
    scale: 1.01;
    box-shadow: 0 0 100px 0 var(--secondary-color) inset;
  }
}
